footer {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  section {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 1.4rem;
    div.pr {
      width: 50%;
      h2{
        color: #012c52;
      }
    }
  }
}
.footerVisibility {
  .footer__media {
    display: flex;
    justify-content:center;
    align-content: center;
    i{
      padding: 1rem;
    }

  }
}
@media screen and (min-width: 350px) and (max-width: 690px) {
  footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 1rem;
    section {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
@media screen and (max-width: 350px) {
  .footerVisibility {
    display: none;
  }
}
