@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
.header {
  justify-content: center;
  align-items: center;
  margin: 1rem;
  &__logoAndsearch {
    width: 100%;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
  }
}
.logo__title {
  background: #034c8c;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  font-style: italic;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.basket {
  position: absolute;
  right: 30px;
  top: 40px;
}
#menu-trigger {
  position: absolute;
  left: 10px;
  top: 10px;
}
.menu {
  display: none;
  list-style: none;
  li {
    display: inline-block;
    padding: 0 1rem;
    &:last-child {
      padding-right: 0;
    }
  }
}
// body,
// .menu {
//   transition: 2s;
// }
// body.moved {
//   margin-left: 50vw;
// }
#menu-trigger {
  margin: 10px;
  border: 0;
  font-size: 3rem;
  background: none;
  outline: none;
} //bardzo wazne przy hamburgerze!!!!!
.mobile-section.opened {
  .menu {
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    padding: 2rem;
    width: 50vw;
    background: #d9042b;
    color: white;
    height: 100vh;
    top: 15%;
    list-style: none;
    left: 0;
    li {
      padding: 0.5rem 0;
    }
  }
}
.links {
  color: white;
  text-decoration: none;
  outline: none;
}
@media screen and (min-width: 650px) {
  .header {
    margin-top: 0;
    &__logoAndSearch {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 1rem;
      &__form {
        min-width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
      } //tu pozmieniac
    }
  }

  #input-search {
    height: 4rem;
    line-height: 60px;
    background-color: #f1f1f1;
    border: 0;
    padding: 0 30px;
    font-size: 18px;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    outline: none;
    display: inline;
  }
  #btn-search {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0;
    line-height: 24px;
    width: 15%;
    height: 4rem;
    border: none;
    background-color: #034c8c;
    color: white;
    font-weight: 600;
    outline: none;
    &:hover {
      color: #d9042b;
    }
  }

  .basket {
    position: static;
  }
  #menu-trigger {
    display: none;
  }
  .mobile-section {
    margin-top: 2rem;
    background-color: #d9042b;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f1f1f1;
  }
  .logo {
    display: block;
    padding: 0;
  }
}
