@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
.header {
  justify-content: center;
  align-items: center;
  margin-top:7rem;
  
  &__logoAndSearch {
    width: 100%;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:2rem;
    &__logo {
      width: 70vw;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom:1rem;
    }
    &__form {
      width: 70vw;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
   
    }
  }
}
.logo__title {
  width: 50%;
  background: #034c8c;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  font-style: italic;
  padding: 1rem;
  border-radius: 5px;
  justify-self: center;
}
.basket {
  position: absolute;
  right:20px;
  top: 20px;
}
#menu-trigger {
  position: absolute;
  left: 10px;
  top: 0.03rem;
}
.menu {
  display: none;
  list-style: none;
  li {
    display: inline-block;
    padding: 0 1rem;
    &:last-child {
      padding-right: 0;
    }
  }
}
#menu-trigger {
  margin: 10px;
  border: 0;
  font-size: 3rem;
  background: none;
  outline: none;
} //bardzo wazne przy hamburgerze!!!!!
.mobile-section.opened {
  .menu {
    transition: 2s;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    padding: 2rem;
    width: 50vw;
    background: #d9042b;
    color: white;
    height: 100vh;
    top: 15%;
    list-style: none;
    left: 0;
    font-weight: 600;
    li {
      padding: 0.5rem 0;
      &:active {
        background-color:#034c8c;
      }
    }
  }
}
.links {
  color: white;
  text-decoration: none;
  outline: none;
}
#input-search {
  width:30vw;
  height: 2rem;
  line-height: 40px;
  background-color: #f1f1f1;
  border: 0;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  outline: none;
  display: inline;
}
#btn-search {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0;
  line-height: 24px;
  width: 19%;
  height:2rem;
  border: none;
  background-color: #034c8c;
  color: white;
  font-weight: 600;
  outline: none;
  &:hover {
    color: #d9042b;
  }
}
.badge {
  top:10%;
  right: 5%;
  border-radius: 50% 50%;
  position: absolute;
  font-size: 10px;
  color: #fff;
  font-weight: 600;
  height: 20px;
  line-height: 19px;
  padding: 0 2px 0 2px;
  min-width: 20px;
  text-align: center;
  background-color: #d9042b;

}

@media screen and (min-width: 650px) {
  .header {
    margin-top: 0;
    &__logoAndSearch {
      min-height: 15vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 2rem;
      &__logo {
        width: 20rem;
        display: flex;
        justify-content: flex-start;
      }
      
      &__form {
        width: 50vw;
        display: flex;
        justify-content: flex-start;
      }
  }
  #input-search {
    height: 4rem;
    line-height: 60px;
    background-color: #f1f1f1;
    border: 0;
    padding: 0 30px;
    font-size: 1rem;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    outline: none;
    display: inline;
  }
  #btn-search {
    width:50%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0;
    line-height: 24px;
    width: 15%;
    height: 4rem;
    border: none;
    background-color: #034c8c;
    color: white;
    font-weight: 600;
    outline: none;
    &:hover {
      color: #d9042b;
    }
  }

  .basket {
    position: static;
    // &:hover {
    //   zoom: 1.3;
    // }
  }
  #menu-trigger {
    display: none;
  }
  .mobile-section {
    margin-top: 2rem;
    background-color: #d9042b;
  }
  .menu {
    display: flex;
    // justify-content: space-around;
    align-items: center;
    color: #f1f1f1;
    font-size: 1.5rem;
    // padding: 0.5rem;
    font-weight: 600;
    li {
      outline: none;
      padding: 1rem 2rem;
      text-decoration: none;
      &:hover {
        outline: none;
        text-decoration: none;
        text-shadow: 4px 4px 2px rgba(246, 243, 243, 0.9);
        background-color:RGBA(255,101,80,0.6);
      }
    }
  }
  .logo {
    display: block;
    padding: 0;
  }
}
.links {
  text-decoration: none;
  color: #f1f1f1;
  position: relative;
  &:hover {
    text-decoration: none;
    color: #f1f1f1;
    text-shadow: -6px -2px 0px rgba(246, 238, 238, 0.26);
  }
}
.badge {
  right:6%;
  top:12%;
}
}