.container {
  max-width: 1200px;
  margin: 0 auto;
}
.pb {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.pr {
  padding-right: 1.3rem;
}
.pl {
  padding-left: 1.5rem;
}
.ml {
  margin-left: 1rem;
}
.mr {
  margin-right: 1rem;
}
.body {
  transition: 2s;
}
.moved {
  margin-left: 50vw;
}
