.prescription__container {
    height :90vh;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
h1 {
    text-align: center;
}
@media screen and (max-width: 650px) {
    .prescription__container {
        padding-top: 0;
    }
    .log__container {
        padding-top: 0;
    }
    h1 {
        display: none;
    }
}